ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    font-family: sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

#section1 {
  background-color:lightgrey;
  float: left;
  width: 60%;
  padding-bottom: 301px;
}

#section2 {
  background-color: darkgrey;
  float: right;
  width: 40%;
  padding-bottom: 120px;
}

#footer1 {
  display: block;
  background-color: grey;
  float: left;
  width: 33%;

}
#footer2 {
  display: block;
  background-color:darkgrey;
  float: left;
  width: 33%;
}
#footer3 {
  display: block;
  background-color: lightgrey;
  float: right;
  width: 33%;
}

#header1 {float:left;}

#header2{float:right;
padding-right: 540px;
}

body {
  background-color: lightgrey;
  width:100%;
  overflow:hidden;
}
